.groupChild,
.groupItem {
  position: absolute;
  top: -0.5px;
  left: 273.5px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 88px;
}
.groupItem {
  left: 584.5px;
}
.groupParent {
  position: absolute;
  top: 31px;
  left: 63px;
  width: 842px;
  height: 87px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  font-family: var(--font-poppins);
}
